# Headings
Today we are learning python programming and it seems to be a lot easier to integrate code and text to explain the area your are working on

In [ ]:
my_first_var = "None"

In [ ]:
my_first_var

In [ ]:
type(my_first_var)

In [ ]:
my_first_list = ["Codeclan", 10,10.54, True,None]

In [ ]:
type[my_first_list]

In [ ]:
my_first_list [-3]

In [ ]:
my_first_list[2:4]

In [ ]:
example_list = [[ 10,2,],"Hello", 10.0, None,False]

In [ ]:
example_list

In [ ]:
example_list[0],[1]

In [ ]:
list_2 = [1,2,3,4,5,6]

In [ ]:
sum(list_2)

In [ ]:
new_list = list_2.sort()
list_2

In [ ]:
sorted (list_2)

In [ ]:
list_2.append(100)
list_2

In [ ]:
sum(list_2)

In [ ]:
len(list_2)

In [ ]:
ext=[7,3,99]
list_2

In [ ]:
list_2.extend([ext])

In [ ]:
list_2

In [ ]:
list_2.remove(5)

In [ ]:
list_2

In [ ]:
prime_list = [1, 2, 3, 5, 7]

In [ ]:
sum(prime_list)

In [ ]:
prime_list.remove(1)

In [ ]:
prime_list

In [ ]:
ext= [11, 13, 17]
prime_list

In [ ]:
reverse = [prime_list]

In [ ]:
first_tuple =(10,"hello", True)

In [ ]:
first_tuple

In [ ]:
first_tuple.append (100.56)

In [ ]:
# Dictionaries

In [ ]:
dictl={}
type(dictl)

In [ ]:
dict1={"Name": "Codeclan", "Location": "Edinburgh", "Day":1}

In [ ]:
dict1

In [ ]:
dict1["Day"]

In [ ]:
dict1.keys()

In [ ]:
dict1.values()

In [ ]:
temperature = 30
if temperature > 20: print ("Heat Warning Wear sunscreen !")

In [ ]:
temperature = 5
if temperature > 20: 
    print ("Heat Warning Wear sunscreen !")
    art =20*30
    print(art)
elif temperature <10:
    print("Everyting is Fine !")
else:
        print ("Nothing")

In [ ]:
animals ("Chicken")
if animal ("Chicken"): 
    print ("Yipee my favorite animal - i love chickens")
    art =20*30
    print(art)
elif animals (cow):
    print("Sad face I only like chickens")
else:
        print ("Nothing")

In [ ]:
for Alpha in range(10):
    print ("Today is Monday. I don't like Mondays")

In [ ]:
list1= ["Codeclan", 1,10.56, "Python is better than R"]
list1

In [ ]:
input1 = eval(input("Number of times the for loop to run : "))
for alpha in range (input1):
    print ("Hello")

In [ ]:
for i,j in enumerate (list1):
    print(i,j)

In [ ]:
type(input1)

In [ ]:
len(list1)

In [ ]:
i= 0
while i <10:
    print ("Today is Monday and i don't like Mondays")
    i = i+1

In [ ]:
i= 0
while i <len (list1):
    print (i, list1[i])
    i = i+1

In [ ]:
dict2 = {"name":"Codeclan", "Location": "Education", "Day": 1}
dict2

In [ ]:
dict2 ["Day"]

In [ ]:
for i,j in dict2.items():
    print (i,j)

In [ ]:
rang= [1,2,3,4,5,6,7,8,9,10]
list_comp = [alpha for alpha in rang if alpha <4]
list_comp

In [ ]:
list_comp2 = []
for alpha in rang:
    if alpha > 4:
        list_comp2.append(alpha)
    else:
        continue

In [ ]:
help

In [ ]:
copyright

In [ ]:
print ("Hello World"])

In [ ]:
animal = "chicken"

if animal == "chicken":
    print("My favourite animal!")
else:
    print("Sad, not my favourite")

In [ ]:
# functions
#what are they?
why use them
How to

In [ ]:
def greet():
    print ("Hey how are you ?")

In [ ]:
greet()

def operation1 (x,y):
        Summ = x+y
        multi x*y
        return multi,summ

In [ ]:
operation1 (3,6)

In [ ]:
def calculate_mean (x,y):
        avg = (x+y) /2
        return avg

In [ ]:
calculate_mean (3,3)

In [ ]:
calculate_mean (190,67)

In [ ]:
calculate_mean (12343,56)

# libaries - allow you to use different content Panda and numpy

In [ ]:
pip install numpy

In [ ]:
import numpy as np

In [ ]:
my_array = np.array([[1,2,3], [4,5,6]])
print (my_array)

In [ ]:
type(my_array)

In [ ]:
my_array [0][2]

# Pandas - load spreadsheets

In [ ]:
pip install pandas

In [1]:
import pandas as pd

In [14]:
dataset_dict = {"Name": ["Jane", "Gareth", "David","Jamie", "Lewis", "Nacho", "Manuela", "Conal"],
                "Favourite": ["Mon","Tues","Wed","Thur","Fri","Sat","Sun", "Sat"]}

In [15]:
dataset_dict

{'Name': ['Jane',
  'Gareth',
  'David',
  'Jamie',
  'Lewis',
  'Nacho',
  'Manuela',
  'Conal'],
 'Favourite': ['Mon', 'Tues', 'Wed', 'Thur', 'Fri', 'Sat', 'Sun', 'Sat']}

In [16]:
df=pd.DataFrame(dataset_dict)

In [17]:
df

      Name Favourite
0     Jane       Mon
1   Gareth      Tues
2    David       Wed
3    Jamie      Thur
4    Lewis       Fri
5    Nacho       Sat
6  Manuela       Sun
7    Conal       Sat