# Day 3 - Advanced

In [1]:
import pandas as pd
import dtale as dta 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
stock = pd.DataFrame({
    'item_no': pd.Series([1, 2, 2, 4, 5, 6, 7, 8, 9, 10], dtype='Int64'),
    'cost_class': pd.Series(['1st', '2nd', '3rd', '4th', '4th', '3rd', '2nd', np.nan, '1st', '3rd'], dtype='string'),
    'cost': pd.Series([10.99, np.nan, 2.99, np.nan, 2.99, 2.45, 5.99, 5.99, 3.00, None], dtype='float64'),
    'stock_code': pd.Series(['a', 'a', 'c', 'b', 'a', 'b', np.nan, np.nan, 'a', 'c'], dtype='string'),
    'priority_code': pd.Series([np.nan, None, 'a', 'b', None, 'a', 'e', None, 'a', 'd'], dtype='string'),
    'tax_rate': pd.Series([0, 0, 20, 20, 20, 0, 20, 20, 5, 20])
})

stock

   item_no cost_class   cost stock_code priority_code  tax_rate
0        1        1st  10.99          a          <NA>         0
1        2        2nd    NaN          a          <NA>         0
2        2        3rd   2.99          c             a        20
3        4        4th    NaN          b             b        20
4        5        4th   2.99          a          <NA>        20
5        6        3rd   2.45          b             a         0
6        7        2nd   5.99       <NA>             e        20
7        8       <NA>   5.99       <NA>          <NA>        20
8        9        1st   3.00          a             a         5
9       10        3rd    NaN          c             d        20

In [3]:
stock. info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   item_no        10 non-null     Int64
 1   cost_class     9 non-null      string
 2   cost           7 non-null      float64
 3   stock_code     8 non-null      string
 4   priority_code  6 non-null      string
 5   tax_rate       10 non-null     int64
dtypes: Int64(1), float64(1), int64(1), string(3)
memory usage: 618.0 bytes

In [5]:
stock.isnull().sum()

item_no          0
cost_class       1
cost             3
stock_code       2
priority_code    4
tax_rate         0
dtype: int64

In [ ]:
stock.dscribe().include = "all"