# Joins Bonus Python to wish eveyone a Happy Christmas

In [7]:
import pandas as pd

from janitor import clean_names

ModuleNotFoundError: No module named 'janitor'

In [11]:
CardBase=pd.read_csv("data/CardBase.csv")
CustomerBase=pd.read_csv("data/CardBase.csv")
FraudBase=pd.read_csv("data/CardBase.csv")
TransactionBase=pd.read_csv("data/CardBase.csv")

In [14]:
CardBase.clean_names

AttributeError: 'DataFrame' object has no attribute 'clean_names'

In [15]:
CustomerBase

             Card_Number Card_Family  Credit_Limit  Cust_ID
0    8638-5407-3631-8196     Premium        530000  CC67088
1    7106-4239-7093-1515        Gold         18000  CC12076
2    6492-5655-8241-3530     Premium        596000  CC97173
3    2868-5606-5152-5706        Gold         27000  CC55858
4    1438-6906-2509-8219    Platinum        142000  CC90518
..                   ...         ...           ...      ...
495  4708-4407-9601-6022     Premium        691000  CC64993
496  6042-2856-7280-2925        Gold         33000  CC26787
497  8706-3809-5167-3899     Premium        144000  CC32532
498  9540-8558-5897-5046     Premium        830000  CC90246
499  5587-7265-8118-7718        Gold         24000  CC37803

[500 rows x 4 columns]

In [9]:
conda install -c "conda-forge/label/cf201901" pyjanitor

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\tools\Anaconda3

  added / updated specs:
    - pyjanitor


The following NEW packages will be INSTALLED:

  pandas-flavor      conda-forge/label/cf201901/noarch::pandas-flavor-0.1.2-py_0
  pyjanitor          conda-forge/label/cf201901/noarch::pyjanitor-0.16.0-py_0

The following packages will be UPDATED:

  conda              conda-forge::conda-22.11.1-py39hcbf53~ --> pkgs/main::conda-22.11.1-py39haa95532_4



Downloading and Extracting Packages


Preparing transaction: ...working... done
Verifying transaction: ...working... failed

Note: you may need to restart the kernel to use updated packages.

EnvironmentNotWritableError: The current user does not have write permissions to the target environment.
  environment location: C:\tools\Anaconda3